<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="main_header()">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/leoni-logo.png}" alt="leoni logo" style="width: 100px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user/scan}" sec:authorize="hasAuthority('USER')">
                            <i class=""></i> <span class="fa-beat-fade">Scan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user/dashboard}" sec:authorize="hasAuthority('USER')">
                            <i class=""></i> <span class="fa-beat-fade">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/admin/statistics}" sec:authorize="hasAuthority('ADMIN')">
                            <i class="fa-solid fa-chart-line fa-beat-fade"></i> <span class="fa-beat-fade">Statistics</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-gears"></i> <span class="">Settings</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/admin/users}">Users</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/objectives}">Objectives</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/admin/groups}">Group</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/routes}">Route</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/lines}">Line</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           sec:authorize="isAuthenticated()" sec:authentication="name"
                        >
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript: document.logoutForm.submit()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" value="Logout" />
            </form>
        </div>
    </nav>
</body>
</html>