<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<main class="container-fluid my-4" layout:fragment="main-content">
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Filter -->
            <div class="col-4">
                <div class="card mt-2">
                    <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>AddRouts
                    </div>
                    <div class="card-body">

                        <form class=" was-validated text-center">
                            <div class="mb-3">
                                <label for="validationText" class="form-label">ObjectivesAct</label>
                                <input type="number" class="form-control is-invalid" id="validationText"
                                       placeholder="Name" required></input>

                            </div>
                            <div class="mb-3">
                                <label for="validationText" class="form-label">ObjectivesShift</label>
                                <input type="number" class="form-control is-invalid" id="validationText"
                                       placeholder="Name" required></input>

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>