<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<main class="container my-4" layout:fragment="main-content">
    <div class="card mt-5 w-50 mx-auto">
        <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>AddUser</div>
        <div class="card-body">
            <form th:action="@{/admin/user}" th:object="${user}" method="post" class="text-center">
                <input type="hidden" class="form-control is-valid" th:if="*{id != null}" th:field="*{id}">
                <div class="mb-3">
                    <label for="userName" class="form-label">Name</label>
                    <input type="text" class="form-control is-valid" id="userName" th:field="*{name}">
                    <div class="invalid-feedback">Example invalid select user</div>
                </div>
                <div class="mb-3">
                    <label for="userLogin" class="form-label">Login</label>
                    <input type="text" class="form-control is-valid" id="userLogin" th:field="*{login}">
                    <div class="invalid-feedback">Example invalid select user</div>
                </div>
                <div class="mb-3">
                    <label for="userGroup" class="form-label">Group</label>
                    <select class="form-select" id="userGroup" th:field="*{group}">
                        <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="userRole" class="form-label">Role</label>
                    <select class="form-select" id="userRole" th:field="*{role}">
                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                </div>
                <div id="userLineDiv" class="mb-3" style="display: none;">
                    <label for="userLine" class="form-label">Line</label>
                    <select class="form-select" id="userLine" th:field="*{line}">
                        <option th:each="line : ${lines}" th:value="${line.id}" th:text="${line.lineName}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
        const userGroup = document.getElementById('userRole');
        const userLineDiv = document.getElementById('userLineDiv');
        const userLine = document.getElementById('userLine');

        userGroup.addEventListener('change', function() {
            const selectedOption = userGroup.options[userGroup.selectedIndex].value;
            if (selectedOption === 'USER') {
                userLineDiv.style.display = 'block';
            } else {
                userLineDiv.style.display = 'none';
            }
        });
    </script>
</main>
</body>
</html>