<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header th:insert="~{fragements/header :: main_header()}"></header>

<main layout:fragment="main-content"></main>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js}"></script>
<script>
    const buttons = document.querySelectorAll('table tbody button');
    const anchors = document.querySelectorAll('table tbody a');
    function showConfirmation(event) {
        const result = confirm('Are you sure you want to proceed?');
        if (!result) {
            event.preventDefault();
        }
    }
    buttons.forEach(button => {
        button.addEventListener('click', showConfirmation);
    });
    anchors.forEach(button => {
        button.addEventListener('click', showConfirmation);
    });
</script>
</body>
</html>