<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>changePassword</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<main class="container my-4" layout:fragment="main-content">
    <div class="card mt-5 w-50 mx-auto">
        <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>Login</div>
        <div class="card-body">

            <form th:action="@{/change-password}" method="post" class=" was-validated text-center" th:object="${changePasswordForm}">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Old Password</label>
                    <input type="password" class="form-control is-invalid" id="oldPassword" th:field="*{oldPassword}" placeholder="oldPassword" required />
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control is-invalid" id="newPassword" th:field="*{newPassword}" placeholder="newPassword" required />
                </div>
                <div class="mb-3">
                    <label for="rePassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control is-invalid" id="rePassword" th:field="*{rePassword}" placeholder="Password" required />
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>

        </div>
    </div>
</main>
</body>
</html>