<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>

    <main class="container-fluid my-4" layout:fragment="main-content">
        <div>
            <!--<div class="row mb-2">
                <div class="col-12">
                    <div class="text-center bg-info text-white p-2">
                        <h3>Production Statistics</h3>
                        <p class="m-0">azertyuikhgfdfghnbgfdfgnhbvdsdfbnghaertyuytrez</p>
                    </div>
                </div>
            </div>-->
            <div class="row g-0">
                <!-- Filter -->
                <div class="col-4">
                    <div class="card mt-2">
                        <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>Filter</div>
                        <div class="card-body">

                            <form th:action="@{/admin/statistics}" method="get" class="text-center" th:object="${filter}">

                                <div class="mb-3">
                                    <label for="dateDebut" class="form-label bg-info text-white d-block">Date Debut</label>
                                    <input type="date" class="form-control" id="dateDebut" th:value="*{dateDebut}">
                                </div>

                                <div class="mb-3">
                                    <label for="dateFin" class="form-label bg-info text-white d-block">Date Fin</label>
                                    <input type="date" class="form-control" id="dateFin" th:value="*{dateFin}">
                                </div>

                                <div class="mb-3">
                                    <label for="route" class="form-label bg-info text-white d-block">Route</label>
                                    <select class="form-select" id="route">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                                <div class="bg-info text-white mb-2">Steering</div>
                                <div class="mb-3 form-switch form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="steeringLL" name="ll" th:checked="*{ll}">
                                    <label class="form-check-label" for="steeringLL">LL</label>
                                </div>
                                <div class="mb-3 form-switch form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="steeringRL" name="rl" th:checked="*{rl}">
                                    <label class="form-check-label" for="steeringRL">RL</label>
                                </div>

                                <div class="bg-info text-white mb-2">Types</div>
                                <div class="mb-3 form-switch form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="typeOV" name="ov" th:checked="*{ov}">
                                    <label class="form-check-label" for="typeOV">OV</label>
                                </div>
                                <div class="mb-3 form-switch form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="typeOV5" name="ov5" th:checked="*{ov5}">
                                    <label class="form-check-label" for="typeOV5">OV5</label>
                                </div>
                                <div class="mb-3 form-switch form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="typeOV51" name="ov51" th:checked="*{ov51}">
                                    <label class="form-check-label" for="typeOV51">OV51</label>
                                </div>
                                <div class="mb-3 form-switch form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="typeOV52" name="ov52" th:checked="*{ov52}">
                                    <label class="form-check-label" for="typeOV52">OV52</label>
                                </div>



                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- packages -->
                <div class="col-8 d-flex justify-content-end flex-wrap">
                    <div class="card m-2" style="width: 260px"
                         th:each="route : ${routes}" th:object="${route}">
                        <div class="card-header bg-dark d-flex justify-content-between">
                            <span class="badge bg-secondary bg-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                  th:text="*{totalCables}" th:onclick="loadCables([[*{route.id}]])">300</span>
                            <span class="badge bg-secondary" th:text="*{route.routeV}"></span>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Line</th>
                                    <th scope="col" class="text-center">count</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="line : *{lines}">
                                    <td th:text="${line.lineName}">PIC</td>
                                    <td class="text-center" th:text="${line.cables}">85</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- statistics -->
        <div class="modal" id="exampleModal" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="routeCables">
                            <thead>
                                <tr>
                                    <th>codeBar</th> <th>lineName</th> <th>started</th> <th>completed</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            let cables = null;
            const loadCables = function(routeId){
                const tableBody = document.querySelector('#routeCables tbody');
                tableBody.innerHTML = '';
                fetch(`http://localhost:8080/admin/api/cables/route/${routeId}?size=20`)
                    .then(response => response.json())
                    .then(data => {

                        // Define an array of row data objects
                        const rows = data.content;

                        // Loop through the rows array and add each row to the table
                        rows.forEach(rowData => {
                            // Create a new row element
                            const row = tableBody.insertRow();

                            // Create new cells and add them to the row
                            const codeBarCell = row.insertCell();
                            const lineNameCell = row.insertCell();
                            const startedCell = row.insertCell();
                            const completedCell = row.insertCell();

                            // Add the data to the cells
                            codeBarCell.textContent = rowData.barCode;
                            lineNameCell.textContent = rowData.lineName;
                            startedCell.textContent = rowData.started;
                            completedCell.textContent = rowData.completed;
                        });

                    })
                    .catch(error => {
                        // Handle any errors
                        console.error(error);
                    });


            }
        </script>
    </main>

</body>
</html>