<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>loginPage</title>
</head>
<body>
<main class="container my-4" layout:fragment="main-content">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div th:if="${param.error}" class="alert alert-danger text-center w-50 mx-auto mb-2" role="alert">
        <!--<strong>[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</strong>-->
        <strong>Username Or Password Incorrect</strong>
    </div>
    <div class="card w-50 mx-auto">
        <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>Login</div>
        <div class="card-body">

            <form th:action="@{/login}" method="post" class=" was-validated text-center">

                <div class="mb-3">
                    <label for="username" class="form-label">Login</label>
                    <input type="text" class="form-control is-invalid" id="username" name="username" placeholder="username" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control is-invalid" id="password" name="password" placeholder="Password" required />
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
    </div>
</main>
</body>
</html>