<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<main class="container-fluid my-4" layout:fragment="main-content">
    <div class="container-fluid mt-4">
        <div class="row">
          <!-- Filter -->
          <div class="col-4">
            <div class="card mt-2">
              <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>Login</div>
              <div class="card-body">
    
                <form class=" was-validated text-center">
                    
                      <div class="mb-3">
                        <label for="validationEmail" class="form-label">Login</label>
                        <input type="email" class="form-control is-invalid" id="validationEmail" placeholder="Login" required></input>
                        </div>
                      <div class="mb-3">
                        <label for="validationPassword" class="form-label">Password</label>
                        <input type="password" class="form-control is-invalid" id="validationPassword" placeholder="Password" required></input>
                      </div>
                      
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
    
                  
    
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
    
              </div>
            </div>
          </div>
        </div>
    </div>
</main>
</body>
</html>