<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<main class="container-fluid my-4" layout:fragment="main-content">
    <div class="container-fluid mt-4">
        <div class="row">
          <!-- Filter -->
          <div class="col-4">
            <div class="card mt-2">
              <div class="card-header bg-dark text-white text-center"><i class="fa-solid fa-filter me-2"></i>Configuration</div>
              <div class="card-body">
    
                <form class=" was-validated text-center">
                    
                    <div class="mb-3">
                        <label for="validationText" class="form-label">Routes</label>
                        <select class="form-select" required aria-label="select example">
                          <option value="">routes</option>
                          <option value="1">Main</option>
                          <option value="2">Body</option>
                          <option value="3">DL</option>
                          <option value="4">DD</option>
                        </select>
                        <div class="invalid-feedback">Example invalid select route</div>
                      </div>
                      <div class="mb-3">
                        <label for="validationText" class="form-label">Lines</label>
                        <select class="form-select" required aria-label="select example">
                          <option value="">lines</option>
                          <option value="1">01</option>
                          <option value="2">02</option>
                          <option value="3">03</option>
                        </select>
                        <div class="invalid-feedback">Example invalid select lines</div>
                      </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
    
              </div>
            </div>
          </div>
        </div>
    </div>
</main>
</body>
</html>