<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminLayout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
</head>
<body>
<main class="container my-4" layout:fragment="main-content">
    <div class="text-center mb-2">
        <img class="w-75" th:src="@{/images/scan_fournisseur.jpg}" rel="scan fournisseur" th:if="${scan.key.getScanKey()=='FOURNISSEUR'}">
        <img class="w-75" th:src="@{/images/scan_eticket.jpg}" rel="scan eticket" th:if="${scan.key.getScanKey()=='ETICKET'}">
        <img class="w-75" th:src="@{/images/scan_quantite.jpg}" rel="scan quantite" th:if="${scan.key.getScanKey()=='QUANTITE'}">
<!--        <img th:src="@{/images/scan_quantite.jpg}" rel="scan quantite" th:if="${scan.key.getScanKey()=='CABLE'}">-->
    </div>
    <div class="w-75 mx-auto text-center">
        <form class="pos-style" id="scanReader" name="pos" th:action="@{/user/scan/}" method="post" th:object="${scan}">
            <div class="form-group" th:if="${scan.key.getScanKey()=='FOURNISSEUR'}">
                <input type="hidden" th:field="*{key}">
                <input type="text" id="fournisseur" th:field="*{value}"  class="form-control" placeholder="bar code reader">
            </div>
            <div class="form-group" th:if="${scan.key.getScanKey()=='ETICKET'}">
                <input type="hidden" th:field="*{key}">
                <input type="text" id="eticket" th:field="*{value}"  class="form-control" placeholder="bar code reader">
            </div>
            <div class="form-group" th:if="${scan.key.getScanKey()=='QUANTITE'}">
                <input type="hidden" th:field="*{key}">
                <input type="text" id="quantite" th:field="*{value}"  class="form-control" placeholder="bar code reader">
            </div>
            <div class="form-group" th:if="${scan.key.getScanKey()=='CABLE'}">
                <input type="hidden" th:field="*{key}">
                <label for="cable" class="form-label">CABLE</label>
                <input type="text" id="cable" th:field="*{value}"  class="form-control" placeholder="bar code reader">
            </div>
        </form>
    </div>
    <div class="w-75 mx-auto text-center" th:if="${currentPackage}">
        <table class="table">
            <thead>
                <tr>
                    <th>fournisseur</th> <th>eticket</th> <th>quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr th:object="${currentPackage}">
                    <td th:text="*{supplier.supplierCode}"></td>
                    <td th:text="*{barCode}"></td>
                    <td th:text="|*{currentQuatity}/*{totalQuantity}|"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>

        window.onload = function(){
            const firstInput = document.querySelector('#scanReader input:not([type="hidden"])');
            if (firstInput) {
                firstInput.focus();
            }
        }
    </script>
</main>
</body>
</html>